@import '../../styles/variables';
@import '../../styles/mixins';

:host {
  display: inline;
}

button {
  background-color: $secondary-light-color;
  border: 1px solid $primary-color;
  padding: 7px 14px;
  border-radius: 5px;
  cursor: pointer;

  @include pottery-outline($primary-color);
}
